@import "./../variables.scss";

.container {
  padding-bottom: 20px;
  margin-bottom: 40px;
  h1 {
    margin-top: 100px;
  }
}

.company {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  align-items: stretch;
  justify-content: space-evenly;
}

/* individual company container */
.company-container {
  border: 1px solid $item_bg_border;
  padding: 0 0 20px 0;
  margin: 10px auto;
  max-width: 350px;
}

.company-name {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  color: $item_text;
  padding: 10px 0 10px 0;
  background-color: $main_color_light;
}

.company-job-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 5px;
  font-size: 14px;
  background-color: $item_bg_color;
}

/* body text - the bullet items */
.body-container {
  max-width: 400px;
  margin: 20px auto;
  text-align: left;
  font-size: 14px;
  padding-right: 20px;
}

.company-screenshot {
  max-width: 320px;
  margin-bottom: 50px;
}

.employment-dates {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 12px;
  padding: 10px;
  background-color: $main_color_light;
}

.employment-type {
  font-size: 10px;
  font-style: italic;
}

@media (max-width: 1200px) {
  .container {
    grid-template-columns: 45% 45%;
  }
  .company-container {
    max-width: 455px;
  }

  .company-screenshot {
    max-width: 300px;
  }
}

@media (max-width: 900px) {
  .company {
    grid-template-columns: 80%;
  }
}

@media (max-width: 800px) {
  .company {
    margin-top: 0px;
    padding: 0px;
    background-color:blue p {
      padding: 5px 20px;
    }
  }
}

@media (max-width: 750px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 700px) {
  .container {
    h1 {
      margin-bottom: -3px;
    }
  }
}

@media (max-width: 600px) {
  .container {
    .project {
      min-width: 350px;
    }
  }
}

@media (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    h1 {
      margin-top: 150px !important;
    }
  }
  .company-screenshot {
    max-width: 250px;
  }
}

@media (max-width: 400px) {
  .company-screenshot {
    max-width: 200px;
  }
}
