@import "./../variables.scss";

#contact.container {
  padding-bottom: 0;

  h1 {
    margin: 80px 0 40px 0;
  }
}

#contact-message-feedback-form {
  margin: 30px auto;
  background-color: $main_color_light;
  padding: 15px;
  margin-top: 20px;
  max-width: 600px;
  border-radius: 10px;

  label {
    display: block;
  }

  #thank-you {
    margin-top: 50px;
  }

  /* holds the current page url */
  #edit-field-site-wrapper {
    display: none;
  }

  /* subject align */
  .form-text {
    display: inline !important;
  }

  #edit-name {
    max-width: 220px;
  }
  #edit-mail {
    max-width: 220px;
    margin-bottom: 50px;
  }

  /* display the name and email fiels next to each other */
  .js-form-item-name,
  .js-form-item-mail {
    display: inline-block !important;
  }

  #edit-subject-0-value {
    max-width: 90%;
  }

  #edit-message-0-value {
    max-width: 95%;
  }

  #edit-actions {
    margin-top: 30px;
  }

  textarea {
    max-width: 600px;
  }
}

#timer {
  margin-top: 50px;
  max-width: 250px;
}

/* stack name and email fields */
@media (max-width: 800px) {
  #contact h1 {
    margin-top: 70px !important;
  }

  .container {
    padding-bottom: 5px;
    #contact-message-feedback-form {
      width: 100%;
      border-radius: 0;
    }
  }
  .js-form-item-name {
    display: block !important;
  }
  .js-form-item-mail {
    display: block !important;
  }
}

@media (max-width: 700px) {
  .container {
    h1 {
      padding-top: 50px !important;
    }
  }

  #contact.container {
    padding-bottom: 0px !important;
    h1 {
      margin-top: 100px;
    }
  }
}

@media (max-width: 500px) {
  #contact > h1 {
    padding: 55px 0 0 0 !important;
  }

  #contact-message-feedback-form {
    margin: 0;
  }

  #contact {
    margin-top: 0px;
  }

  #edit-message-0-value {
    height: 150px;
  }
}
