@import "./../variables.scss";

.homeSelected {
  border: 1px dashed $main_color;
}

.container {
  padding: 20px 50px;
  h1 {
    margin-top: 100px;
    margin-bottom: 30px;
  }
}

.preloadAnimation {
  margin-top: 130px;
}

@media (max-width: 1182px) {
  .container {
    max-width: 960px;
    padding: 20px 10px !important;
  }
}

@media (max-width: 1000px) {
  .container {
    max-width: 860px;
  }
}

@media (max-width: 990px) {
  .container {
    max-width: 730px;
  }
}

@media (max-width: 800px) {
  .container {
    padding: 15px 5px;
    max-width: 550px;
    p {
      padding: 5px;
    }
  }
}

@media (max-width: 700px) {
  .container > h1 {
    margin-top: 95px !important;
  }
}

@media (max-width: 600px) {
  p {
    padding: 5px 40px;
  }
  .site-versions div {
    padding: 0px 10px;
  }
  .shadow-version {
    box-shadow: 1px 1px 10px 2px #888888 !important;
  }
  .here-hand {
    height: 50px;
  }
}

@media (max-width: 500px) {
  .container {
    p {
      padding: 5px 10px;
      font-size: 14px;
    }
  }
}

@media (max-width: 400px) {
  .container {
    margin-top: -40px;
  }
}

#vueJS a img {
  box-shadow: 5px 5px 15px 2px #888888 !important;
  background-color: red !important;
  padding: 50px;
}

#vueJS-here {
  display: block;
  margin: auto;
}

.site-versions p {
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: bold;
}

.shadow-version a img {
  padding: 0 !important;
}

.jira-versions {
  text-align: center;
  img {
    max-width: 185px;
    box-shadow: 1px 1px 15px 1px #888888;
    margin: 10px;
  }
}

.homepage-wrapper ul li {
  padding: 5px;
}
