@import "./../variables.scss";

// classes added dynamically in order to vertically align the search container
.paginationYes {
  margin: -65px 0 0 0 !important;
}

.paginationNo {
  margin: -50px 0 0 0 !important;
}

// classes added dynamically in order to vertically align the page title header
.paginationYes-H1 {
  margin: 30px 0 20px 0;
}

.paginationNo-H1 {
  margin: 20px 0 20px 0;
}

#pagination {
  text-align: center;
  padding-left: 15px;
  margin-top: 0;
  display: inline-block;
  a {
    color: #ffffff;
    text-shadow: 1px 1px #000;
  }
  /* next / prev text */
  .pager-navigation {
    background-color: $main_color;
    margin: 0px 5px;
    padding: 3px 10px;
    font-size: 12px;
  }
  .disabled {
    color: rgb(61, 60, 60);
    background-color: rgb(202, 201, 201) !important;
  }
}

@media (max-width: 700px) {
  .paginationYes {
    margin: 0 0 0 0 !important;
  }

  .paginationNo {
    margin: 0 0 0 0 !important;
  }

  #pagination {
    display: inline;
    padding-left: 30px;
  }
}

@media (max-width: 500px) {
  #pagination {
    padding-left: 10px;

    .pager-navigation {
      margin: 0px 2px;
      padding: 3px 7px;
    }
  }
}

@media (max-width: 400px) {
  #pagination {
    padding-left: 5px;
    margin-right: 5px;
  }
}
