#profiles {
  float: right;
  max-width: 380px;
  font-size: 12px;
  text-align: center;
  margin-top: -60px;

  .icon {
    display: inline-block;
    width: 50px;
    padding: 0 5px;
    margin: 0 6px;

    img {
      height: 30px;
    }
  }
}

@media (max-width: 700px) {
  #profiles {
    margin: 0;
    float: none;
    max-width: 100%;
    text-align: center;
    font-size: 11px;

    .icon {
      img {
        height: 25px;
      }
    }
  }
}

@media (max-width: 400px) {
  #profiles {
    margin-bottom: 5px;
    .icon {
      img {
        height: 15px;
      }
    }
  }
}
