@import "./../variables.scss";

#profiles {
  float: right;
  max-width: 380px;
  font-size: 12px;
  text-align: center;
  margin-top: -55px;

  .icon {
    display: inline-block;
    width: 50px;
    padding: 0 5px;
    margin: 0 6px;

    img {
      height: 30px;
      margin: auto;
    }
  }

  a span {
    color: $main_color;
  }
}

@media (max-width: 700px) {
  #profiles {
    margin: -5px auto 3px auto !important;
    float: none;
    max-width: 100%;
    font-size: 11px;

    .icon {
      width: 92px;

      img {
        height: 20px;
      }
    }
  }
}

@media (max-width: 500px) {
  #profiles {
    margin: -7px auto 0 auto;

    .icon {
      width: 64px;

      img {
        height: 15px;
      }
    }
  }

  #pdf-resume,
  #word-resume,
  #profile-profile {
    width: 40px !important;
  }
}
