@import "./variables.scss";
@import "./header/navigation.scss";
@import "./animation/hover-animation.scss";

html {
  overflow-y: scroll;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-color: $main_color $main_color_light;
  background-image: url(https://chriscorchado.com/images/cclogobg.jpg);
  background-attachment: fixed;
}

.screen-reader {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

// Hide search
//#search-container {
//display: none;
//}

#user-message {
  position: sticky;
  width: 320px;
  font-size: 13px;
  text-align: center;
  font-weight: bold;
  color: $main_color;
  margin: -7px auto 0 auto;
}

// Main content
.container {
  margin: 0 auto 25px auto;
  text-align: center;
  padding: 20px 5px 20px 5px;
  background-color: #fff;
  border-radius: 0 0 15px 15px;

  h1 {
    margin-top: 100px !important;
    color: $main_color;
    font-size: 30px;
  }
}

a:link {
  text-decoration: none;
}

.hide {
  display: none;
}

// Button style reset - IOS uses the pill shape
button {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}

.shadow {
  -webkit-box-shadow: 3px 3px 5px 3px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 3px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 3px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

// Override the featherlight lightbox arrows
.featherlight-next span,
.featherlight-previous span {
  font-size: 24px !important;
  width: 35px !important;
}

.featherlight .featherlight-close-icon {
  background-color: #0078d7 !important;
  padding: 0 10px 0 3px !important;
  border: 2px solid black !important;
  color: white !important;
  font-weight: bold !important;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 3px;
  background-color: $off_white;
  border-top: 2px solid $main_color;
}

// Footer tech icons
.site-version {
  text-align: center;
  padding: 10px 0;

  div {
    display: inline-block;
    margin: 0 5px;

    img {
      width: 45px;
    }
  }
}

@media (max-width: 700px) {
  .container {
    h1 {
      font-size: 24px;
      margin-top: 100px;
    }
  }
}

@media (max-width: 600px) {
  #footer {
    display: none;
  }
}
