@import 'variables.scss';

#logo img {
  height: 60px;
}

.navbar {
  border-bottom: 2px solid $main_color;
  display: block;
  min-height: 100px;

  /* force nav to stay horizontal */
  .navbar-nav {
    flex-direction: row;

    /* align items vertically*/
    .nav-item {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0px 5px;
      width: 80px;
    }
    .nav-item-active,
    .nav-item:hover {
      font-weight: bold;
      color: $main_color !important;
    }
  }
} // .navbar

#search-container {
  float: right;
  margin: -55px 30px 0 0;
  display: none;
  padding: 0px;
  width: 280px;
  text-align: center;
  #searchCount {
    font-size: 12px;
    text-align: right;
    margin-right: 5px;
    display: inline-block;
    width: 85px;
  }

  /* search textbox */
  #searchSite {
    width: 130px;
  }

  /* remove IE “clear field or cross” X button from inputs field */
  ::-ms-clear {
    display: none;
  }

  /* search button */
  .searchBtn {
    padding: 2px;
    font-size: 12px;
    border-radius: 5px;
    visibility: hidden;
  }

  .searchBtn:hover {
    color: #fff;
    box-shadow: 0 0 #fff;
    background-color: $main_color;
  }

  #pagination {
    text-align: center;
    padding-left: 55px;
    margin-top: 5px;

    a {
      color: #ffffff;
      text-shadow: 1px 1px #000;
    }
    /* next / prev text */
    .pager-navigation {
      background-color: $main_color;
      margin: 0px 5px;
      padding: 1px 10px;
      font-size: 12px;
    }
    .disabled {
      color: rgb(61, 60, 60);
      background-color: rgb(202, 201, 201) !important;
    }
  }
} // #search-container

@media (max-width: 700px) {
  .navbar-nav {
    justify-content: space-between;
    width: 90%;
    .nav-item {
      justify-content: left;
      width: 60px;
      margin-left: 15px;
    }
  }

  #search-container {
    float: none;
    width: 100%;
    padding: 5px 0;
    margin-top: 0px;

    #pagination {
      padding-left: 0;
    }

    /* search textbox */
    #searchSite {
      width: 120px;
    }
  }
}

@media (max-width: 500px) {
  #logo img {
    height: 50px;
  }
  #search-container {
    #searchCount {
      margin-right: 0px;
    }
    #pagination {
      .pager-navigation {
        margin: 0px;
        padding: 2px 5px;
      }
    }
    #searchSite {
      width: 80px;
    }
  }
}

@media (max-width: 400px) {
  .navbar {
    .navbar-nav {
      width: 100%;
      margin-left: -7px !important;
      .nav-item {
        margin-left: -2px;
        font-size: 14px;
      }
    }
  }

  #searchCount {
    width: 65px !important;
  }

  #paging-info {
    font-size: 10px;
  }
}
